.modal {
    backdrop-filter: blur(4px);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000000;
}

.modal-content {
    position: relative;
    background: #111;
    width: 300px;
    padding: 10px 20px;
    height: 60vh;
    margin: 10vh auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.modal-content div {
    min-height: 100%;
}

.modal-content .btn {
    display: block;
    position: absolute;
    color: white;
    background: #303134;
    width: 30px;
    height: 30px;
    border: 0px;
}

.modal-content .btn:hover {
    background-color: #111;
}

